{%extends 'all-news/base.html'%} 
{% block content %}
<div class="container">

  <div class="row" style="margin-left: 24%;">
    {% if articles%}
      <h2>Found {{ articles|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for article in articles %}
      <div class="col-sm-6 col-md-4" style="margin-left: 30%;">
          <h1 class="text-center">{{article.title}}</h1>
          <p>{{article.post}}</p>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}